.banner {
    width: 100%;
    height: 350px; /* Altura ajustable según tus necesidades */
    overflow: scroll;
  }
  
  .imageContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
  }
  
  .imageContainer:hover {
    cursor: pointer;
  }
  
